{% set archflags = os.getenv('ARCHFLAGS', '') %}
{% set is_x86 = 'x86_64' in archflags %}
{% set conan_arch = 'x86_64' if is_x86 else 'armv8' %}
{% set macos_min = '10.9' if is_x86 else '11.0' %}
include(default)

[settings]
arch={{ conan_arch }}
os.version={{ macos_min }}

[buildenv]
WHEEL_ARCH=macosx_{{ macos_min | replace('.', '_') }}_{{ 'x86_64' if is_x86 else 'arm64' }}
MACOSX_DEPLOYMENT_TARGET={{ macos_min }}
